@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.bg-custom-gradient {
  background: linear-gradient(135deg, #270404 0%, #270404 5%, #000000 10%, #000000 65%, #7f1d1d 85%, #7f1d1d 100%);
} 

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

